.link-hover {
  position: relative;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.link-hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: width 0.3s ease;
}

.link-hover:hover::after {
  width: 100%;
}

.link-hover-red:hover {
  border-bottom: 2px solid #ff4d5a;
}
